.running-route {
  img {
    margin-bottom: 2em;
    width: 100%;
  }
  .description {
    border: 0.5ex solid #5b27a0;
    padding: 0.5em;
    border-radius: 0.5ex;
    margin-bottom: 0.5em;
    color: #777;
    h3 {
      text-align: center;
      color: #5b27a0;
      padding: 5px;
      text-decoration: underline;
    }
    p {
      font-size: 2ex;
      margin-left: 0.5em;
    }
    span {
      img {
        width: 5em;
        height: 5em;
        margin: 0;
      }
      big {
        font-weight: bold;
        font-size: 2.5ex;
      }
    }
  }
  li {
    background-color: lightgrey;
    img {
      width: 2em;
      height: 2em;
      margin: 0;
      background-color: lightgrey;
    }
    big {
      margin-left: 0.5em;
    }
  }
  .commentForm {
    background-color: #F5F5F5;
    border: 0.5ex solid #5b27a0;
    padding: 0.5em;
    border-radius: 0.5ex;
    label {
      font-size: 2.5ex;
      color: #777;
    }
    .comments-title {
      text-align: center;
      font-size: 3ex;
      color: #5b27a0;
    }
  }
}
