<section class="about-page">
  <div class="row">
    <div class="introduction">
      <strong>Walk...</strong>
      <strong>Explore...</strong>
      <big>
        <strong>RUN!
          <strong>
      </big>
      <div class="intro-logo">
        <img src="images/noun_run.svg" alt="run logo">
        <h2 class="text-muted">Orlando City Run</h2>
        <a href="https://github.com/pcreglow" class="GitHub">
          <big>Phillip Creglow</big>
          <img src="images/GitHub.png" alt="GitHub logo">
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="credits">
      <small>Icon credits: </small>
      <a href="https://thenounproject.com/term/running/99411/">
        <img src="images/noun_run.svg" alt="run logo">
      </a>
      <a href="https://thenounproject.com/term/distance/36259/">
        <img src="images/noun_distance.svg" alt="distance logo">
      </a>
      <a href="https://thenounproject.com/term/drinking-fountain/49011/">
        <img src="images/noun_amenities.svg" alt="amenities logo">
      </a>
      <a href="https://thenounproject.com/term/group/38516/">
        <img src="images/noun_crowd.svg" alt="crowd logo">
      </a>
      <a href="https://thenounproject.com/term/dog/364/">
        <img src="images/noun_dog.svg" alt="dog logo">
      </a>
      <a href="https://thenounproject.com/term/bicycle/78/">
        <img src="images/noun_bike.svg" alt="bike logo">
      </a>
      <a href="https://thenounproject.com/term/road/4436/">
        <img src="images/noun_surface.svg" alt="surface logo">
      </a>
      <a href="https://snazzymaps.com/">
        <small>Map design by Snazzy Maps</small>
      </a>
    </div>
  </div>
</section>
