<section class="about-page">
  <div class="row">
    <div class="introduction">
      <strong>Walk...</strong>
      <strong>Explore...</strong>
      <big>
        <strong>RUN!
          <strong>
      </big>
      <div class="intro-logo">
        <img src="images/noun_run.svg" alt="run logo">
        <h2 class="text-muted">Orlando City Run</h2>
      </div>
    </div>
    <div class="row">
      <div class="credits">
        <a href="www.google.com"><img src="images/noun_run.svg" alt="run logo"></a>
        <a href="www.google.com"><img src="images/noun_run.svg" alt="run logo"></a>
        <a href="www.google.com"><img src="images/noun_run.svg" alt="run logo"></a>
        <a href="www.google.com"><img src="images/noun_run.svg" alt="run logo"></a>
        <a href="www.google.com"><img src="images/noun_run.svg" alt="run logo"></a>
      </div>
    </div>
</section>

<div class=credits>
  <text>Header logo by Norbert Kucsera from the Noun Project
    <br> Drinking Fountain logo by Luis Prado from the Noun Project
    <br> Group logo by Sma-rtez from the Noun Project
    <br> Distance logo by Tommy Lau from the Noun Project
    <br> Map design by Snazzy Maps</text>
</div>
