
<div class="row introduction">
    <h4>RUN this city!</h4>
    <p>Welcome to my city. Bring you to my city. Let you run around my city!</p>
<div class="social-media">
  <a href="#">
    <big>Like us on Facebook!</big><br>
  </a>
  <a href="#">
    <big>Follow us on Instagram!</big><br>
  </a>
  <a href="#">
  <big>Follow us on Twitter!</big><br>
  </a>
</div>
<div class=motto>
  <strong>Run hard. Run strong. Run Orlando!</strong>
</div>
<div class=credits>
  <text>Header logo by Norbert Kucsera from the Noun Project<br>
  Drinking Fountain logo by Luis Prado from the Noun Project<br>
  Group logo by Sma-rtez from the Noun Project<br>
  Distance logo by Tommy Lau from the Noun Project<br>
  Map design by Snazzy Maps</text>
</div>
