<section class="home-page">
  <div class="row">
    <div class="photo col-md-9">
      <img src="images/OCR_Main.png" alt="Orlando Map">
    </div>
    <div class="introduction col-md-3">
      <strong>Walk...</strong>
      <strong>Explore...</strong>
      <big>
        <strong>RUN!
          <strong>
      </big>
      <div class="intro-logo">
        <img src="images/noun_run.svg" alt="run logo">
        <h2 class="text-muted">Orlando City Run</h2>
      </div>
    </div>
  </div>
</section>
