<div class="row" ng-repeat="route in lake.routes">
  <div class="pull-left col-md-4">
    <div class="description">
      <h3>{{ route.name }}</h3>
      <br>
      <p>{{ route.description }}</p>
      <br>
      <h4>Distance: {{ route.distance }}</h4>
      <br>
    </div>

    <div class="categories">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          Amenities: {{ route.amenities }}
        </li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
          Crowds: {{ route.crowd }}
        </li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
          Dog activity: {{ route.dog }}
        </li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
          Bike activity: {{ route.bike }}
        </li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
          Surface: {{ route.surface }}
        </li>
      </ul>
    </div>
  </div>

  <div class="photo col-md-8">
    <img src="images/Orlando_City_Run.png" ng-src="{{ route.map_url }}" alt="Orlando City Run Logo">
  </div>
</div>

<div class="row">
  <div class="photo col-md-6">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="http://lorempixel.com/400/200/sports/1" alt="Lake Eola">
        </div>
        <div class="item">
          <img src="http://lorempixel.com/400/200/sports/2" alt="Lake Eola">
        </div>
      </div>
    </div>
  </div>

  <section class="col-md-6">
    <form ng-submit="lake.addComment()">
      <div class="commentForm form-group">
        <label>
          <strong>Submit a comment</strong>
        </label>
        <br>
        <label for="inputName">Name</label>
        <input type="name" class="form-control" id="inputName" placeholder="Your Name" ng-model="lake.newCommentName">
        <br>
        <label for="inputComment">Comment</label>
        <input type="text" class="form-control" rows="3" placeholder="Share a comment about this route" ng-model="lake.newCommentText">
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </form>

    <div class="comments">
      <label>Comments</label>
      <br>
      <ul class="list-group" ng-repeat="(id, comment) in lake.comments">
        <li class="list-group-item">
          {{ comment.text }}
          <br>
          <small>
            <strong>{{ comment.name }}</strong>
          </small>
        </li>
      </ul>
    </div>
  </section>
</div>
