<section class="running-events">
  <div class="row">
    <form class="events-form col-md-6" ng-submit="lakeEvents.addEvent()">
      <div class="form-group">
        <h4 class="events-title">
          <strong>Share your running event/group</strong>
        </h4>
        <br>
        <label for="eventName">Running Event/Group Name</label>
        <input type="name" class="form-control" id="inputEventName" placeholder="Name of running event/group" ng-model="lakeEvents.newEventName">
      </div>
      <div class="form-group">
        <label for="eventLocation">Location</label>
        <input type="text" class="form-control" id="inputEventLocation" placeholder="Location of event/group meetup" ng-model="lakeEvents.newEventLocation">
      </div>
      <div class="form-group">
        <label for="eventDate">Date</label>
        <input type="text" class="form-control" id="inputEventDate" placeholder="Ex: July 31, 2015" ng-model="lakeEvents.newEventDate">
      </div>
      <div class="form-group">
        <label for="eventDate">Time</label>
        <input type="text" class="form-control" id="inputEventTime" placeholder="Ex: 6:30 PM" ng-model="lakeEvents.newEventTime">
      </div>
      <div class="form-group">
        <label for="eventContact">Contact</label>
        <input type="text" class="form-control" id="inputEventContact" placeholder="Contact information, website, etc." ng-model="lakeEvents.newEventContact">
      </div>
      <label for="eventInformation">Additional Information</label>
      <textarea type="text" class="form-control" id="inputEventInformation" rows="3" placeholder="Additional information about this running event/group" ng-model="lakeEvents.newEventInformation"></textarea>
      <br>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <div class="events col-md-6">
      <div class="description" ng-repeat="route in lakeEvents.routes">
        <h3>{{ route.title }}</h3>
        <br>
        <p>{{ route.description }}</p>
      </div>

      <ul class="list-group" ng-repeat="(id, event) in lakeEvents.events">
        <li class="list-group-item">
          <strong>
            <big>{{ event.name }}</big>
          </strong>
          <br>
          <strong>Location: </strong> {{ event.location }}
          <br>
          <strong>Date: </strong> {{ event.date }}
          <br>
          <strong>Time: </strong> {{ event.time }}
          <br>
          <strong>Contact: </strong> {{ event.contact }}
          <br>
          <strong>Information: </strong> {{ event.info }}
        </li>
      </ul>
    </div>
</section>
