<div class="row">
  <div class="photo col-md-8">
    <img src="http://lorempixel.com/400/200/sports/1" alt="Orlando City Run Map">
  </div>
  <div class="description pull-right col-md-4">
    <h4>It's time to RUN!</h4>
  </div>
</div>

<div class="row">
  <form class="pull-left col-md-6">
  <div class="form-group">
    <label><strong>Submit Event/Running Group</strong></label><br>
    <label for="eventName">Event Name</label>
    <input type="name" class="form-control" id="inputEventName" placeholder="Name of event/running group">
  </div>
  <div class="form-group">
    <label for="activityDate">Event Date</label>
    <input type="date" class="form-control" id="inputActivityDate" placeholder="Event Date(s)">
  </div>
  <div class="form-group">
    <label for="website">Website</label>
    <input type="url" class="form-control" id="inputContact" placeholder="Event website">
  </div>
  <label for="inputComment">Comment</label>
  <textarea class="form-control" rows="3" placeholder="Additional information about this event"></textarea>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

  <div class="events pull-right col-md-6">
    <label>Events/Running Groups</label>
    <br>
    <ul class="list-group">
      <li class="list-group-item">
        <strong>Track Shack Running Group</strong>
        <br> When: Every Tuesday and Thursday at 6:30 PM
        <br> Website: <a href="www.trackshack.com">www.trackshack.com</a>
        <br> Additional: Join us every Tuesday and Thursday at 6:30 PM! We meet outside the playground
        on the east side of Lake Eola. Come and meet fellow runners on this casual run around scenic Lake Eola.
      </li>
      <li class="list-group-item">
        <strong>Orlando Runners</strong>
        <br> When: Every Saturday at 7:30 AM
        <br> Contact: Orlando Runners on meetup.com</a>
      </li>
    </ul>
  </div>
