<section ng-repeat="route in routes">
  <div class="row">
    <ul class="nav nav-tabs">
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Routes <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#/lakeEola/route1">Route1</a></li>
          <li><a href="#/lakeEola/route2">Route2</a></li>
          <li><a href="#route3">Route3</a></li>
        </ul>
      </li>
    </ul>
    <main class="container-fluid">
    <div class="pull-left col-md-4"> <!-- start route view -->
      <div class="description">
        <h3>{{ route.name }}</h3>
        <br>
        <p>{{ route.description }}</p>
        <br>
        <h4>Distance: {{ route.distance }}</h4>
        <br>
      </div>

      <div class="categories">
        <ul class="list-group">
          <li class="list-group-item">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            Amenities: {{ route.amenities }}
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            Crowds: {{ route.crowd }}
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
            Dog activity: {{ route.dog }}
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
            Bike activity: {{ route.bike }}
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
            Surface: {{ route.surface }}
          </li>
        </ul>
      </div>
    </div>
    <div class="photo col-md-8">
      <img src="images/OCRunMap.png" alt="Orlando City Run Map">
    </div>
  </div><!-- end route view -->
</main>
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <a class="thumbnail">
        <img src="http://lorempixel.com/400/200/sports/1/" alt="sports-one">
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a class="thumbnail">
        <img src="http://lorempixel.com/400/200/sports/2/" alt="sports-two">
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a class="thumbnail">
        <img src="http://lorempixel.com/400/200/sports/3/" alt="sports-three">
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a class="thumbnail">
        <img src="http://lorempixel.com/400/200/sports/4/" alt="sports-four">
      </a>
    </div>
  </div>

  <div class="row">
    <div class="events pull-left col-md-4">
      <label>Local Events</label>
      <br>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Track Shack Running Group</strong>
          <br> When: Every Tuesday and Thursday at 6:30
          <br> Contact: <a href="www.trackshack.com">www.trackshack.com</a>
        </li>
        <li class="list-group-item">
          <strong>Orlando Runners</strong>
          <br> When: Every Saturday at 7:30 AM
          <br> Contact: Orlando Runners on meetup.com</a>
        </li>
      </ul>
    </div>

    <div class="comments col-md-4">
      <label>Comments</label>
      <br>
      <ul class="list-group">
        <li class="list-group-item">
          {{ route.comments.comment1.text }}
          <br>
          <small>
            <strong>{{ route.comments.comment1.name }}</strong>
          </small>
        </li>
        <li class="list-group-item">
          {{ route.comments.comment2.text }}
          <br>
          <small>
            <strong>{{ route.comments.comment2.name }}</strong>
          </small>
        </li>
        <li class="list-group-item">
          {{ route.comments.comment3.text }}
          <br>
          <small>
            <strong>{{ route.comments.comment3.name }}</strong>
          </small>
        </li>
      </ul>
    </div>

    <form>
      <div class="commentForm form-group col-md-4">
        <label for="inputName">Name</label>
        <input type="name" class="form-control" id="inputName" placeholder="Your Name">
        <br>
        <label for="inputComment">Comment</label>
        <input type="text" class="form-control" rows="3" placeholder="Share a comment about this route">
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </form>
  </div>
</section>
