<div class="row">
  <div class="description pull-left col-md-4">
    <h3>Lake Eola 2 Miler</h3><br>
    <p>Lake Eola offers a unique urban running environment. This 2 mile route provides
    outstanding scenery of Lake Eola and the downtown skyline.</p><br>
    <h4>Distance: 2 miles</h4>
  </div>
  <div class="photo col-md-8">
    <img src="images/OCRunMap.png" alt="Orlando City Run Map">
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a class="thumbnail">
      <img src="http://lorempixel.com/400/200/sports/1/" alt="sports-one">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a class="thumbnail">
      <img src="http://lorempixel.com/400/200/sports/2/" alt="sports-two">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a class="thumbnail">
      <img src="http://lorempixel.com/400/200/sports/3/" alt="sports-three">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a class="thumbnail">
      <img src="http://lorempixel.com/400/200/sports/4/" alt="sports-four">
    </a>
  </div>
</div>

<div class="row">
  <p>Categories!</p>
</div>
