<section>
<div class="row">
  <div class="pull-left col-md-4">
    <div class="description">
      <h3>{{ route.name }}</h3>
      <br>
      <p>{{ route.description }}</p>
      <br>
      <h4>Distance: {{ route.distance }}</h4>
      <br>
    </div>

    <div class="categories">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          Amenities:
        </li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
          Crowds:
        </li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
          Dog activity:
        </li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
          Bike activity:
        </li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
          Surface:
        </li>
      </ul>
    </div>
  </div>
  <div class="photo col-md-8">
    <img src="images/Lake_Eola2.png" alt="Orlando City Run Map">
  </div>
</div>
</section>
