<section class="running-events">
  <div class="row">
    <form class="pull-left col-md-6" ng-submit="millsEvents.addEvent()">
      <div class="form-group">
        <label>
          <strong>Submit Event/Running Group</strong>
        </label>
        <br>
        <label for="eventName">Event/Group Name</label>
        <input type="name" class="form-control" id="inputEventName" placeholder="Name of event/running group" ng-model="millsEvents.newEventName">
      </div>
      <div class="form-group">
        <label for="eventLocation">Event/Group Location</label>
        <input type="text" class="form-control" id="inputEventLocation" placeholder="Event location" ng-model="millsEvents.newEventLocation">
      </div>
      <div class="form-group">
        <label for="eventDate">Event/Group Date</label>
        <input type="text" class="form-control" id="inputEventDate" placeholder="Ex: July 31, 2015" ng-model="millsEvents.newEventDate">
      </div>
      <div class="form-group">
        <label for="eventDate">Event/Group Time</label>
        <input type="text" class="form-control" id="inputEventTime" placeholder="Ex: 6:30 PM" ng-model="millsEvents.newEventTime">
      </div>
      <div class="form-group">
        <label for="eventContact">Event/Group Contact</label>
        <input type="text" class="form-control" id="inputEventContact" placeholder="Event contact info, website" ng-model="millsEvents.newEventContact">
      </div>
      <label for="eventInformation">Event/Group Information</label>
      <textarea type="text" class="form-control" id="inputEventInformation" rows="3" placeholder="Additional information about this event" ng-model="millsEvents.newEventInformation"></textarea>
      <br>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>



    <div class="events col-md-6">
    <div class="description" ng-repeat="route in millsEvents.routes">
      <h4>{{ route.title }}</h4>
      <br>
      <p>{{ route.description }}</p>
    </div>
    
      <ul class="list-group" ng-repeat="(id, event) in millsEvents.events">
        <li class="list-group-item">
          <strong>
            <big>{{ event.name }}</big>
          </strong>
          <br>
          <strong>Location: </strong> {{ event.location }}
          <br>
          <strong>Date: </strong> {{ event.date }}
          <br>
          <strong>Time: </strong> {{ event.time }}
          <br>
          <strong>Contact: </strong> {{ event.contact }}
          <br>
          <strong>Event Info: </strong> {{ event.info }}
        </li>
      </ul>
    </div>
</section>
